/* import fonts from public directory */
@font-face {
    font-family: 'phoenix';
    src: url('/fonts/phoenixfont.ttf');
}

@font-face {
    font-family: 'sperry';
    src: url('/fonts/sperry.ttf');
}

.homepage {
    background-color: black;
    color: white;
    font-family: 'phoenix';
    font-size: 3vmin;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.parentParent {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
