@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.homepage {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0px;
    padding: 0px
}

.main {
    background-color: rgb(43, 43, 43);
    margin: 2%;
    padding: 2%;
    border-radius: 1vw;
    text-align: center;
    margin-top: 15%;
}

.loginDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: auto;
    transform: translate(-50%, -40%);
    border: 5px solid rgb(19, 130, 0);
    text-align: center;
    border-radius: 3px;
    color: rgb(77, 221, 37);
    box-shadow: 0 0 50px green;
    backdrop-filter: blur(4px);
}

.loginTextHeader,
.loadingtext {
    font-size: 80px;
    margin: 3vw;
}

.loadingtext {
    font-size: 50px;
}

.loginTextP {
    font-size: 20px;
    margin: 3vw;
}

.loginInput,
.loginInputError {
    width: 90%;
    background-color: rgb(0, 0, 0);
    color: rgb(64, 177, 46);
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 1vw;
    font-size: 30px;
    margin: 3vw;
    box-sizing: border-box;
    border: 3px solid #3b3b3b;
    border-radius: 4px;
    outline: none;
    transition: all 0.4s ease;
}

.loginInputError:focus {
    border: 3px solid #971919;
    color: #ff5b5b
}

.loginInput:focus {
    border: 3px solid rgb(2, 136, 0);
}

.incorrect {
    color: red;
    font-size: 1.5em;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}