.parentDiv {
    padding: 0.5%;
    border-bottom: 3px solid rgb(51, 51, 51);
    transition: all 0.4s ease;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    height: auto;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}

.Button {
    margin: 1vw;
    outline: none;
    cursor: pointer;
    font-size: 2em;
    border-radius: 5px;
    color: #ffffff;
    background: transparent;
    text-decoration: none;
    min-width: 100px;
    border: 2px solid #d3d3d3;
    text-align: center;
    transition: all 0.4s ease;
    letter-spacing: 2px;
}

.Button:hover {
    border: 2px solid white;
}

.Button:focus {
    background-color: #4d4d4d;
}

.ul {
    list-style: none;
    margin-right: 5vw;
}

.image {
    transform: translateY(10px);
}

.li {
    display: inline;
    margin: 10px;
    vertical-align: middle;
}

.litext {
    font-size: 2.5vw;
    text-decoration: none;
    color: white;
}

.loginbutton {
    padding: 15px;
}