.parentDiv {
    padding: 2%;
    background-color: #242424; 
    transition: all 0.4s ease;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    height: auto;
    display: flex;
    justify-content:space-between;
}
.Button {
    margin: 0.1vw;
    outline: none;
    cursor: pointer;
    font-size:2em;
    padding: 1%;
    border-radius: 5px;
    color: #ffffff;
    background: transparent;
    height: auto;
    text-decoration: none;
    min-width: 100px;
    border: 2px solid #d3d3d3;
    text-align: center;
    transition: all 0.4s ease;
}
.Button:hover {
    border: 2px solid white;
}
.Button:focus {
    background-color: #4d4d4d;
}
.ul {
    list-style:none;
    margin-right: 5vw;
}
.image {
    transform: translateY(10px);
}
.li {
    display: inline;
    margin: 10px;
    vertical-align: middle;
}
.litext {
    font-size: 3vw;
    text-decoration: none;
    color: white;
}
.loginbutton {
    padding: 20px;
    
}