.playersdiv {
    width: 99vw;
    padding: 0.5vw;
    overflow: hidden;
    height: auto;
    border-bottom: 3px solid rgb(2, 65, 3);
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(4px);
    color: #2ea024;
    background-color: #000000a0;
    font-size: 1.5em;
}

.playerstext {
    margin: 1.5vw;
    font-size: 0.8em;
}

.vstext {
    margin: 1vw;
}
