.parentDiv {
    border-bottom: 3px solid rgb(4, 56, 15);
    transition: all 0.4s ease;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    height: auto;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}

.Button {
    font-family: 'Phoenix';
    margin: 1vw;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #1cb626;
    background: transparent;
    min-width: 100px;
    border: 0.3vh solid #0ab42c;
    text-align: center;
    transition: all 1s ease;
    letter-spacing: 2px;
    box-shadow: 0 0 20px #058c42;
}

.Button:hover,
.Button:focus {
    background-color: #0d2818;
    transition: all 0.2s ease;
}

.ul {
    list-style: none;
    margin-right: 5vw;
}

.image {
    transform: translateY(1.2vh);
}

.li {
    display: inline;
    margin: 1vw;
    vertical-align: middle;
}

.litext {
    font-size: 1.5em;
    color: #1cb626;
}

.loginbutton {
    padding: 2vh;
}
